@page
@model GymProjectFrontEnd.Pages.AccountInformationModel
@{
}


<head>
    <link rel="preload" href="./css/Login.css" asp-append-version="true" />
    <link rel="stylesheet" href="./css/Login.css" asp-append-version="true" />
    <link rel="preload" href="./css/AccountInformation.css" asp-append-version="true" />
    <link rel="stylesheet" href="./css/AccountInformation.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js" asp-append-version="true"></script>
    <script src="~/js/Pages/AccountInformation.js" type="module"> </script>
    <script src="~/js/Pages/Measures.js" type="module"> </script>
</head>

<body>

            </div>
            <h1>Información de cuenta</h1>
            <p>En esta sección podrás gestionar tu perfil: visualiza tus medidas, sube tu comprobante de pago, actualiza tu información personal y revisa tu rutina.</p>
    </header>

    <main>
        <section class="section account-information">
            <div class="container account-information-container">
                <div class="form-container">
                    <h1>Información de Cuenta</h1>
                    <form id="account-form">
                        <div class="form-div">
                            <div class="form-group">
                                <label for="name" class="form-label">Nombre: <br><span id="name-label"></span></label>
                                <input class="login-input" type="text" id="name" data-placeholder="Ingresa tu nombre" readonly style="display: none;">
                                <div class="error" id="name-error"></div>
                            </div>
                            <div class="form-group">
                                <label for="last-name" class="form-label">Apellido: <br><span id="last-name-label"></span></label>
                                <input class="login-input" type="text" id="last-name" data-placeholder="Ingresa tu apellido" readonly style="display: none;">
                                <div class="error" id="last-name-error"></div>
                            </div>
                            <div class="form-group">
                                <label for="birthdate" class="form-label">Fecha de nacimiento: <br><span id="birthdate-label"></span></label>
                                <input class="login-input" type="date" id="birthdate" data-placeholder="Indica tu fecha de nacimiento" readonly style="display: none;">
                                <div class="error" id="birthdate-error"></div>
                            </div>
                            <div class="form-group">
                                <label for="dni" class="form-label">Identificación: <br><span id="dni-label"></span></label>
                                <input class="login-input" type="text" id="dni" data-placeholder="Proporciona tu DNI" readonly style="display: none;">
                                <div class="error" id="dni-error"></div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="form-label">Correo: <br><span id="email-label"></span></label>
                                <input class="login-input" type="email" id="email" data-placeholder="Ingresa una dirección de correo" readonly style="display: none;">
                                <div class="error" id="email-error"></div>
                            </div>
                            <div class="form-group">
                                <label for="gender" class="form-label">Género: <br><span id="gender-label"></span></label>
                                <select id="gender" disabled style="display: none;">
                                    <option value="">Selecciona tu género</option>
                                    <option value="M">Masculino</option>
                                    <option value="F">Femenino</option>
                                    <option value="O">Otro</option>
                                </select>
                                <div class="error" id="gender-error"></div>
                            </div>
                            <div class="form-group">
                                <label for="address" class="form-label">Domicilio: <br><span id="address-label"></span></label>
                                <input class="login-input" type="text" id="address" data-placeholder="Ingresa tu domicilio" readonly style="display: none;">
                                <div class="error" id="address-error"></div>
                            </div>
                            <div class="form-group">
                                <label for="phone-number" class="form-label">Teléfono: <br><span id="phone-number-label"></span></label>
                                <input class="login-input" type="text" id="phone-number" data-placeholder="Ingresa tu teléfono" readonly style="display: none;">
                                <div class="error" id="phone-number-error"></div>
                            </div>
                            <div class="form-group">
                                <label for="customer-membership" class="form-label">Membresía Actual: <br><span id="membership-label"></span></label>
                                <select id="customer-membership" disabled style="display: none;">
                                    <option value="4" id="basic-membership">Básica</option>
                                    <option value="5" id="regular-membership">Regular</option>
                                    <option value="6" id="premium-membership">Premium</option>
                                </select>
                                <div class="error" id="customer-membership-error"></div>
                            </div>
                        </div>
                        <div class="form-button-container">
                            <button id="edit-button" type="button" onclick="toggleEdit(true)">Editar</button>
                            <button id="save-button" type="button" onclick="saveChanges()" style="display: none;">Guardar</button>
                            <button id="cancel-button" type="button" onclick="toggleEdit(false)" style="display: none;">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <section class="section measures">
            <div class="container measures-container">
                <h2>Informes y estadísticas</h2>
                <select id="measureFilter">
                    <option value="" selected disabled>Seleccionar mes</option>
                    <!-- Las opciones se llenarán dinámicamente -->
                </select>
                <canvas id="medidasChart" width="400" height="400"></canvas>
            </div>
        </section>

    </main>

</body>

<footer>
</footer>