@page
@model GymProjectFrontEnd.Pages.MeasureModel
@{
}
<script src="~/js/pages/measurespage.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Measure</title>
     <link rel="preload" href="../CSS/style.css" as="style">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="preload" href="../CSS/Login.css" as="style">
    <link rel="stylesheet" href="../CSS/Login.css">
    <link rel="preload" href="../CSS/Equipment.css" as="style">
    <link rel="stylesheet" href="../CSS/Equipment.css">
</head>

<body>

    <header>
        <div class="headerContainer" id="headerContainer">
            <div class="navegation-container">
                <nav class="navigation">
                    <ul>
                        <li><a asp-page="/Index">Home</a></li>
                        <li><a asp-page="/Schedule">Clases</a></li>
                        <li><a asp-page="/Trainers">Nuestros Entrenadores</a></li>
                        <li class="dropdown-nav-menu">
                            <a href="#" class="dropbtn">Menu</a>
                            <div class="dropdown-content-nav">
                                <a asp-page="/ScheduleConfiguration">Gestión de Horarios</a>
                                <a asp-page="/Payments">Gestión de Pagos</a>
                                <a asp-page="/RoutineManagement">Gestión de Rutinas</a>
                                <a asp-page="/AppointmentManagement">Gestión de Citas</a>
                                <a asp-page="/EmployeeManagement">Gestión de Empleados</a>
                                <a asp-page="/Payments">Gestión de Pagos</a>
                                <a asp-page="/Logout">Cerrar sesión</a>
                                <a asp-page="/DiscountManagement">Gestión de descuentos</a>
                                 <a asp-page="/Equipment">Gestión de Equipo</a>
                                <a asp-page="/CouponManagement">Gestión de cupones</a>
                            </div>
                        </li>
                        <li>
                            <a asp-page="/Login">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle" width="45" height="45" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <defs>
                                        <linearGradient id="heading-gradient" x1="0%" y1="0%" x2="100%" y2="100%">
                                            <stop offset="5%" style="stop-color:#AE8625;stop-opacity:1" />
                                            <stop offset="45%" style="stop-color:#F7EF8A;stop-opacity:1" />
                                            <stop offset="85%" style="stop-color:#D2AC47;stop-opacity:1" />
                                        </linearGradient>
                                    </defs>
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" stroke="url(#heading-gradient)" />
                                    <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" stroke="url(#heading-gradient)" />
                                    <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" stroke="url(#heading-gradient)" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <H1>Gestión de Mediciones</H1>
            <p>Registra mediciones facilmente.</p>
        </div>


    </header>

    <section class="permissions-management">
        <div class="container permission-container">
            <h2>
                Configuración de mediciones</h1>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>ID de usuario</th>
                            <th>Peso</th>
                            <th>Altura</th>
                            <th>Porcentaje de grasa</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>

                </table>

        </div>
    </section>


    <main>
        <div class="form-container">
            <h2>Registro de Medición</h2>
            <p>Ingresa los datos de la Medición</p>

                <th>ID</th>
                            <th>ID de usuario</th>
                            <th>Peso</th>
                            <th>Altura</th>
                            <th>Porcentaje de grasa</th
                            <th>Fecha</th>
            <form id="registration-form">
                <div class="form-div">
                    <div class="first-row">
                        <div class="form-group">
                            <input class="login-input" type="number" id="txtId" placeholder="Id" readonly="readonly">

                        </div>
                        <div class="form-group">
                            <input class="login-input" type="number" id="txtPeso" placeholder="Peso">
                            <div class="error" id="name-error"></div>
                        </div>
                         <div class="form-group">
                            <input class="login-input" type="number" id="txtAltura" placeholder="Altura">
                            <div class="error" id="name-error"></div>
                        </div>
                    </div>
                    <div class="second-row">
                        <div class="form-group">
                            <input class="login-input" type="number" id="txtGrasa" placeholder="% de Grasa">
                            <div class="error" id="name-error"></div>
                        </div>
                       <div class="form-group">
                            <input class="login-input" type="date" id="txtFecha" placeholder="Fecha">
                            <div class="error" id="name-error"></div>
                        </div>
                    </div>

                </div>
                <div class="form-button-container">
                    <button id="btnGuardar" type="button">Crear</button>
                    <button id="btnModificar" type="button">Modificar</button>
                    <button id="reset-button" type="button" onclick="resetForm()">Cancelar</button>
                </div>
            </form>
        </div>
    </main>

    <footer></footer>

    <div id="alertContainer" class="alert-container"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>