@page
@model GymProjectFrontEnd.Pages.PaymentsModel
@{
}

<head>
    <link rel="preload" href="./css/Schedule.css">
    <link rel="stylesheet" href="./css/Schedule.css">
    <link rel="preload" href="./css/ScheduleConfiguration.css">
    <link rel="stylesheet" href="./css/ScheduleConfiguration.css">
    <link rel="preload" href="./css/Payments.css">
    <link rel="stylesheet" href="./css/Payments.css">
    <title>Payments</title>
</head>
<body>

            <H1>Gestión de pagos</H1>
    </header>

    <main class="ScheduleContainer" id="ScheduleContainer">
        <div class="Schedule Container">
            <div class="dropdown-title-container">
                <h2>Control de pagos</h2>
                <div class="dropdown-container">
                    <h3 class="week-filter">Buscar mes:</h3>
                    <div class="dropdown">
                        <input type="text" id="searchBox" class="styled-input" placeholder="Mes X" onclick="toggleDropdown()">
                        <button class="dropdown-button" onclick="toggleDropdown()">Mes X</button>
                        <div id="dropdown-content" class="dropdown-content">
                            <!-- Opciones de semanas se añadirán aquí desde JavaScript -->
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Información de Contacto</th>
                            <th>DNI</th>
                            <th>Matricula</th>
                            <th>Mensualidad</th>
                            <th>Descuento</th>
                            <th>Cupon</th>
                            <th>Total</th>
                            <th>Estado de pago</th>
                            <th>Fecha de inicio</th>
                            <th>Fecha de final</th>
                            <th>Comprobante de pago</th>
                            <th>Fecha de subida</th>
                            <th>Aprobacion</th>
                            <th>Aprobado por</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class=" first-td">Shanty Cerdas</td>
                            <td> barahona0498@gmail.com <br> 53437927 </td>
                            <td>305090606</td>
                            <td> 40$</td>
                            <td>50$</td>
                            <td>DESC1(10$)</td>
                            <td>CSDE123(10$)</td>
                            <td>70$</td>
                            <td>Pendiente</td>
                            <td>01/01/2024</td>
                            <td>01/02/2024</td>
                            <td> N/A</td>
                            <td> N/A</td>
                            <td>
                                <div class="button-container" id="button-container-1">
                                    <div class="reservation-button cancel-edit-button">
                                        <button class="edit-button">Aprobar</button>
                                    </div>
                                    <div class="Reservation cancel-edit-button" id="Reservation">
                                        <button id="cancel-button">Denegar</button>
                                    </div>
                                </div>
                            </td>
                            <td class="last-td">N/A</td>
                        </tr>
                        <tr class="second-tr">
                            <td class=" first-td">Shanty Cerdas</td>
                            <td> barahona0498@gmail.com <br> 53437927 </td>
                            <td>305090606</td>
                            <td> 40$</td>
                            <td>50$</td>
                            <td>DESC1(10$)</td>
                            <td>CSDE123(10$)</td>
                            <td>70$</td>
                            <td>Completado</td>
                            <td>01/01/2024</td>
                            <td>01/02/2024</td>
                            <td>
                                <div class="reservation-button" id="download">
                                    <button class="reserved">Descargar</button>
                                </div>
                            </td>
                            <td> 01/02/2024</td>
                            <td> N/A </td>
                            <td class="last-td">Shanty Cerdas</td>
                        </tr>
                        <tr>
                            <td class=" first-td">Shanty Cerdas</td>
                            <td> barahona0498@gmail.com <br> 53437927 </td>
                            <td>305090606</td>
                            <td> 40$</td>
                            <td>50$</td>
                            <td>DESC1(10$)</td>
                            <td>CSDE123(10$)</td>
                            <td>70$</td>
                            <td>Pendiente</td>
                            <td>01/01/2024</td>
                            <td>01/02/2024</td>
                            <td> N/A</td>
                            <td> N/A</td>
                            <td>
                                <div class="button-container" id="button-container-1">
                                    <div class="reservation-button cancel-edit-button">
                                        <button class="edit-button">Aprobar</button>
                                    </div>
                                    <div class="Reservation cancel-edit-button" id="Reservation">
                                        <button id="cancel-button">Denegar</button>
                                    </div>
                                </div>
                            </td>
                            <td class="last-td">N/A</td>
                        </tr>
                        <tr class="second-tr">
                            <td class=" first-td">Shanty Cerdas</td>
                            <td> barahona0498@gmail.com <br> 53437927 </td>
                            <td>305090606</td>
                            <td> 40$</td>
                            <td>50$</td>
                            <td>DESC1(10$)</td>
                            <td>CSDE123(10$)</td>
                            <td>70$</td>
                            <td>Completado</td>
                            <td>01/01/2024</td>
                            <td>01/02/2024</td>
                            <td>
                                <div class="reservation-button" id="download">
                                    <button class="reserved">Descargar</button>
                                </div>
                            </td>
                            <td> 01/02/2024</td>
                            <td> N/A </td>
                            <td class="last-td">Shanty Cerdas</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <script src="./js/Pages//Payment.js" asp-append-version="true"></script>

    <footer>
    </footer>


</body>
