@page
@model GymProjectFrontEnd.Pages.ScheduleConfigurationModel
@{
}

<head>

    <link rel="preload" href="./css/Schedule.css" asp-append-version="true" />
    <link rel="stylesheet" href="./css/Schedule.css" asp-append-version="true" />
    <link rel="preload" href="./css/ScheduleConfiguration.css" asp-append-version="true" />
    <link rel="stylesheet" href="./css/ScheduleConfiguration.css" asp-append-version="true" />
    <title>ScheduleConfiguration</title>
</head>
<body>
            <H1>Configuración de horarios</H1>
    </header>

    <main class="ScheduleContainer" id="ScheduleContainer">
        <div class="Schedule Container">
            <div class="dropdown-title-container">
                <h2> Agendar Clases </h2>

                <div class="dropdown-container">
                    <h3 class="week-filter">Buscar semana:</h3>
                    <div class="dropdown">
                        <input type="text" id="searchBox" class="styled-input" placeholder="Semana X" onclick="toggleDropdown()">
                        <button class="dropdown-button" onclick="toggleDropdown()">Semana X</button>
                        <div id="dropdown-content" class="dropdown-content">
                            <!-- Opciones de semanas se añadirán aquí desde JavaScript -->
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Hora</th>
                            <th>Lunes</th>
                            <th>Martes</th>
                            <th>Miércoles</th>
                            <th>Jueves</th>
                            <th>Viernes</th>
                            <th>Sábado</th>
                            <th>Domingo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class=" first-td">6:00 am</td>
                            <td>
                                <div class="td-container">
                                    <div class="button-container" id="button-container-1">
                                        <div class="reservation-button add-class-button">
                                            <button id="add-class-#">Agregar Clase</button>
                                        </div>
                                    </div>
                            </td>
                            <td>
                                <div class="td-container">
                                    Spinning <br> Instructor: María <br> Espacio: 15/20 <br>
                                    <div class="button-container" id="button-container-1">
                                        <div class="reservation-button cancel-edit-button">
                                            <button class="edit-button">Editar</button>
                                        </div>
                                        <div class="Reservation cancel-edit-button" id="Reservation">
                                            <button id="cancel-button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="td-container">
                                    Spinning <br> Instructor: María <br> Espacio: 15/20 <br>
                                    <div class="button-container" id="button-container-1">
                                        <div class="reservation-button cancel-edit-button">
                                            <button class="edit-button">Editar</button>
                                        </div>
                                        <div class="Reservation cancel-edit-button" id="Reservation">
                                            <button id="cancel-button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>

                            </td>
                            <td>
                                <div class="td-container">
                                    Spinning <br> Instructor: María <br> Espacio: 15/20 <br>
                                    <div class="button-container" id="button-container-1">
                                        <div class="reservation-button cancel-edit-button">
                                            <button class="edit-button">Editar</button>
                                        </div>
                                        <div class="Reservation cancel-edit-button" id="Reservation">
                                            <button id="cancel-button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="td-container">
                                    Spinning <br> Instructor: María <br> Espacio: 15/20 <br>
                                    <div class="button-container" id="button-container-1">
                                        <div class="reservation-button cancel-edit-button">
                                            <button class="edit-button">Editar</button>
                                        </div>
                                        <div class="Reservation cancel-edit-button" id="Reservation">
                                            <button id="cancel-button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="td-container">
                                    Spinning <br> Instructor: María <br> Espacio: 15/20 <br>
                                    <div class="button-container" id="button-container-1">
                                        <div class="reservation-button cancel-edit-button">
                                            <button class="edit-button">Editar</button>
                                        </div>
                                        <div class="Reservation cancel-edit-button" id="Reservation">
                                            <button id="cancel-button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="last-td">
                                <div class="td-container">
                                    Spinning <br> Instructor: María <br> Espacio: 15/20 <br>
                                    <div class="button-container" id="button-container-1">
                                        <div class="reservation-button cancel-edit-button">
                                            <button class="edit-button">Editar</button>
                                        </div>
                                        <div class="Reservation cancel-edit-button" id="Reservation">
                                            <button id="cancel-button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="second-tr">
                            <td class=" first-td">6:00 am</td>
                            <td>
                                <div class="td-container">
                                    Spinning <br> Instructor: María <br> Espacio: 15/20 <br>
                                    <div class="button-container" id="button-container-1">
                                        <div class="reservation-button cancel-edit-button">
                                            <button class="edit-button">Editar</button>
                                        </div>
                                        <div class="Reservation cancel-edit-button" id="Reservation">
                                            <button id="cancel-button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="td-container">
                                    Spinning <br> Instructor: María <br> Espacio: 15/20 <br>
                                    <div class="button-container" id="button-container-1">
                                        <div class="reservation-button cancel-edit-button">
                                            <button class="edit-button">Editar</button>
                                        </div>
                                        <div class="Reservation cancel-edit-button" id="Reservation">
                                            <button id="cancel-button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="td-container">
                                    Spinning <br> Instructor: María <br> Espacio: 15/20 <br>
                                    <div class="button-container" id="button-container-1">
                                        <div class="reservation-button cancel-edit-button">
                                            <button class="edit-button">Editar</button>
                                        </div>
                                        <div class="Reservation cancel-edit-button" id="Reservation">
                                            <button id="cancel-button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>

                            </td>
                            <td>
                                <div class="td-container">
                                    Spinning <br> Instructor: María <br> Espacio: 15/20 <br>
                                    <div class="button-container" id="button-container-1">
                                        <div class="reservation-button cancel-edit-button">
                                            <button class="edit-button">Editar</button>
                                        </div>
                                        <div class="Reservation cancel-edit-button" id="Reservation">
                                            <button id="cancel-button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="td-container">
                                    Spinning <br> Instructor: María <br> Espacio: 15/20 <br>
                                    <div class="button-container" id="button-container-1">
                                        <div class="reservation-button cancel-edit-button">
                                            <button class="edit-button">Editar</button>
                                        </div>
                                        <div class="Reservation cancel-edit-button" id="Reservation">
                                            <button id="cancel-button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="td-container">
                                    Spinning <br> Instructor: María <br> Espacio: 15/20 <br>
                                    <div class="button-container" id="button-container-1">
                                        <div class="reservation-button cancel-edit-button">
                                            <button class="edit-button">Editar</button>
                                        </div>
                                        <div class="Reservation cancel-edit-button" id="Reservation">
                                            <button id="cancel-button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="last-td">
                                <div class="td-container">
                                    Spinning <br> Instructor: María <br> Espacio: 15/20 <br>
                                    <div class="button-container" id="button-container-1">
                                        <div class="reservation-button cancel-edit-button">
                                            <button class="edit-button">Editar</button>
                                        </div>
                                        <div class="Reservation cancel-edit-button" id="Reservation">
                                            <button id="cancel-button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class=" first-td">6:00 am</td>
                            <td>
                                <div class="td-container">
                                    Spinning <br> Instructor: María <br> Espacio: 15/20 <br>
                                    <div class="button-container" id="button-container-1">
                                        <div class="reservation-button cancel-edit-button">
                                            <button class="edit-button">Editar</button>
                                        </div>
                                        <div class="Reservation cancel-edit-button" id="Reservation">
                                            <button id="cancel-button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="td-container">
                                    Spinning <br> Instructor: María <br> Espacio: 15/20 <br>
                                    <div class="button-container" id="button-container-1">
                                        <div class="reservation-button cancel-edit-button">
                                            <button class="edit-button">Editar</button>
                                        </div>
                                        <div class="Reservation cancel-edit-button" id="Reservation">
                                            <button id="cancel-button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="td-container">
                                    Spinning <br> Instructor: María <br> Espacio: 15/20 <br>
                                    <div class="button-container" id="button-container-1">
                                        <div class="reservation-button cancel-edit-button">
                                            <button class="edit-button">Editar</button>
                                        </div>
                                        <div class="Reservation cancel-edit-button" id="Reservation">
                                            <button id="cancel-button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>

                            </td>
                            <td>
                                <div class="td-container">
                                    Spinning <br> Instructor: María <br> Espacio: 15/20 <br>
                                    <div class="button-container" id="button-container-1">
                                        <div class="reservation-button cancel-edit-button">
                                            <button class="edit-button">Editar</button>
                                        </div>
                                        <div class="Reservation cancel-edit-button" id="Reservation">
                                            <button id="cancel-button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="td-container">
                                    Spinning <br> Instructor: María <br> Espacio: 15/20 <br>
                                    <div class="button-container" id="button-container-1">
                                        <div class="reservation-button cancel-edit-button">
                                            <button class="edit-button">Editar</button>
                                        </div>
                                        <div class="Reservation cancel-edit-button" id="Reservation">
                                            <button id="cancel-button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="td-container">
                                    Spinning <br> Instructor: María <br> Espacio: 15/20 <br>
                                    <div class="button-container" id="button-container-1">
                                        <div class="reservation-button cancel-edit-button">
                                            <button class="edit-button">Editar</button>
                                        </div>
                                        <div class="Reservation cancel-edit-button" id="Reservation">
                                            <button id="cancel-button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="last-td">
                                <div class="td-container">
                                    Spinning <br> Instructor: María <br> Espacio: 15/20 <br>
                                    <div class="button-container" id="button-container-1">
                                        <div class="reservation-button cancel-edit-button">
                                            <button class="edit-button">Editar</button>
                                        </div>
                                        <div class="Reservation cancel-edit-button" id="Reservation">
                                            <button id="cancel-button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="second-tr">
                            <td class=" first-td">6:00 am</td>
                            <td>
                                <div class="td-container">
                                    Spinning <br> Instructor: María <br> Espacio: 15/20 <br>
                                    <div class="button-container" id="button-container-1">
                                        <div class="reservation-button cancel-edit-button">
                                            <button class="edit-button">Editar</button>
                                        </div>
                                        <div class="Reservation cancel-edit-button" id="Reservation">
                                            <button id="cancel-button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="td-container">
                                    Spinning <br> Instructor: María <br> Espacio: 15/20 <br>
                                    <div class="button-container" id="button-container-1">
                                        <div class="reservation-button cancel-edit-button">
                                            <button class="edit-button">Editar</button>
                                        </div>
                                        <div class="Reservation cancel-edit-button" id="Reservation">
                                            <button id="cancel-button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="td-container">
                                    Spinning <br> Instructor: María <br> Espacio: 15/20 <br>
                                    <div class="button-container" id="button-container-1">
                                        <div class="reservation-button cancel-edit-button">
                                            <button class="edit-button">Editar</button>
                                        </div>
                                        <div class="Reservation cancel-edit-button" id="Reservation">
                                            <button id="cancel-button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>

                            </td>
                            <td>
                                <div class="td-container">
                                    Spinning <br> Instructor: María <br> Espacio: 15/20 <br>
                                    <div class="button-container" id="button-container-1">
                                        <div class="reservation-button cancel-edit-button">
                                            <button class="edit-button">Editar</button>
                                        </div>
                                        <div class="Reservation cancel-edit-button" id="Reservation">
                                            <button id="cancel-button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="td-container">
                                    Spinning <br> Instructor: María <br> Espacio: 15/20 <br>
                                    <div class="button-container" id="button-container-1">
                                        <div class="reservation-button cancel-edit-button">
                                            <button class="edit-button">Editar</button>
                                        </div>
                                        <div class="Reservation cancel-edit-button" id="Reservation">
                                            <button id="cancel-button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="td-container">
                                    Spinning <br> Instructor: María <br> Espacio: 15/20 <br>
                                    <div class="button-container" id="button-container-1">
                                        <div class="reservation-button cancel-edit-button">
                                            <button class="edit-button">Editar</button>
                                        </div>
                                        <div class="Reservation cancel-edit-button" id="Reservation">
                                            <button id="cancel-button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="last-td">
                                <div class="td-container">
                                    Spinning <br> Instructor: María <br> Espacio: 15/20 <br>
                                    <div class="button-container" id="button-container-1">
                                        <div class="reservation-button cancel-edit-button">
                                            <button class="edit-button">Editar</button>
                                        </div>
                                        <div class="Reservation cancel-edit-button" id="Reservation">
                                            <button id="cancel-button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <script src="./js/Pages/Schedule.js" asp-append-version="true"></script>

    <footer>
    </footer>


</body>
